:root {
  --white: #fff;
  --black: #0f0e0ee8 ; 
  --headers: #0A2463;
  --current: #246A73;
  --champagne: #F3DFC1;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body { 
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black)
}

body header #my-name {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


body header.header {
  display: inline-flex;
  flex-direction: column;
  min-width: 1600px;
  width: auto;
  padding: 40px;
  
  background: var(--headers);
  color: var(--white);

}
body .header h1 {
  text-align: left;
}

header div ul {
  display: flex;
  color: var(--white);
  float: right;
  
}

.header div ul a {
  display: inline-block;
  margin-left: 25px;
}

#banner {
  height: 420px;
  max-width: 1600px;
  width: auto;
  margin-bottom: 25px;
  background-image: url("../images/pxfuel.jpg");
  background-size: cover;
  background-position: center;
}

#banner div {
 display:flex ;
 flex-direction: row;
 align-items: center;
 margin-top: 5%;
}

body #banner div img {
  max-width: 30%;
  margin:60px 0 0 110px;
  
}

body #banner div hgroup {
 display: flex;
 flex-direction: column;
 max-width: 70%;
 margin: 5% 5% 0 15%;

}

#banner div hgroup h3{
  align-self: start;
  color: var(--white);
 
}

#banner div hgroup p {
  color: var(--white);

}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 300px;
}

main content ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main content ul li {
  height: 100px;
  width: 70%;
  margin-right: 100px;
}

main ul li img {
  height: 200px;
  width: 100;
  background-color: var(--current);
}

main div ul #main-project {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  margin: bottom 40px;
}



main div ul h3 {
  color: var(--white);
background-color: var(--headers);
}
main content ul .example {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  max-height: 100px;
}

main content ul li h3 {
font: size 20px;
text-align: center;
padding: 15px;
color: var(--white);
background-color: var(--headers);
}

footer {
  
  background-color: var(--headers);
  color: var(--white);
  text-align: center;
  padding-top: 15px;
  margin-top: 25px;
}
footer content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 80%;
}
  

footer content div ul li {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 15px;
  
}
@media screen and (max-width:900px) {
  main content ul .example {
    max-width: 50%;
  }
  
}
  

