:root {
  --white: #fff;
  --black: #060101 ; 
  --purple: #2d0d35;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


header {
  padding: 40px;
  text-align: center;
  background: var(--purple);
  color: var(--white);

}

header div ul {
  display: flex;
  color: var(--white);
  float: right;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}
.banner {
  height: 420px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/Generic_f5246ce9-ed96-4adb-8a0c-2fb67fd8c0bf.webp");
  background-size: cover;
  background-position: center;
}
main {
display: flex;
flex-wrap: wrap;
}

main content {
  padding: 15px;
  background-clip: border-box;
}

#about-me, #my-content, #no-clue, #my-projects, #IDK {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 50%;
  
}

main content h3 {
font: size 20px;
text-align: center;
padding: 15px;
color: var(--white);
background-color: var(--purple);
}

footer {
  
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  padding-top: 15px;
}
  

footer content ul li {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 15px;
}
